 {% load static %}

<div class="row question">
          <div class="col-3">
            <img src="{{ answer.author.avatar.url }}" class="answer_ava">
          </div>
          <div class="col-9">
            <h3>{{ answer.title }}</h3>
            <div>
              {{ answer.text }}
           </div>
         </div>
         <div>
          <button id="like_btn" class="btn">Like</button>
          <div class="likes">22</div>
          <div class="row_in_question">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
              <label class="form-check-label" for="flexCheckChecked">
              Correct  </label>
            </div>
          </div>
        </div>
      </div>
