{% extends "include/base.html" %}
{% load static %}
{% block link %}
<link href="{% static "css/settings.css" %}" rel="stylesheet">
{% endblock link %}
{% block header %}
{% include "include/navbar.html" %}
{% endblock header %}
{% block content %}
    <div class="new_hot_question">
     Tag: {{ tag }}
   </div>
  {% for question in questions %}
        {% include "include/question.html" %}
    {% endfor %}
{% endblock content %}
{% block pagination %}
{% include "include/pagination.html" %}
{% endblock pagination %}
